<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Task 4</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="sidebar">
    <h3>Laboratory Works</h3>
    <ul>
        <li><a th:href="@{/}">Main page</a></li>
        <li><a th:href="@{/task1}">Task : 1</a></li>
        <li><a th:href="@{/task2}">Task : 2</a></li>
        <li><a th:href="@{/task3}">Task : 3</a></li>
        <li><a th:href="@{/task4}">Task : 4</a></li>
        <li><a th:href="@{/task6}">Task : 6</a></li>
        <li><a th:href="@{/task6_2}">Task : 6.2</a></li>
        <li><a th:href="@{/task7}">Task : 7</a></li>
    </ul>
</div>

<div class="content">
    <div class="card">
        <h2>Binary Search — Partition Testing</h2>
        <form th:action="@{/task4/search}" method="post">
            <label>Array (comma separated):</label>
            <input type="text" id="arrayInput" name="arrayInput" placeholder="e.g. 1,2,3,4,5"><br>

            <button type="button" onclick="generateRandomArray()">Generate Random Array</button><br><br>

            <label>Key to search:</label><br>
            <input type="number" name="key" placeholder="e.g. 3">
<br>
            <button type="submit">Search</button>
        </form>

        <p><strong>Original Array:</strong> <span th:text="${originalArray}"></span></p>
        <p><strong>Key:</strong> <span th:text="${key}"></span></p>
        <p><strong>Result:</strong> <span th:text="${result}"></span></p>
        <p th:if="${L != ''}"><strong>Position (L):</strong> <span th:text="${L}"></span></p>

    </div>
</div>


<script>
    function generateRandomArray() {
        const min = -100;
        const max = 100;
        const length = 10;
        const arr = [];

        for (let i = 0; i < length; i++) {
            const randomNum = Math.floor(Math.random() * (max - min + 1)) + min;
            arr.push(randomNum);
        }

        document.getElementById("arrayInput").value = arr.join(", ");
    }
</script>
</body>
</html>
